body {
  padding: 1rem;
  background: #eee;
  color: #333;
}

#frame {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
}

#menu {
  width: 150px;
  margin: 0 1rem 0 0.5rem;
}

#activityLog {
  font-family: "Courier New", Courier, monospace;
}

#callLog {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10em;
  font-family: "Courier New", Courier, monospace;
}

#callLog u {
  color: #000;
  cursor: pointer;
}

#actionMenu {
  margin: 1rem 0 0 0;
}
